.header{
    background-color: #F8F8FF;
    word-spacing: 80px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: -10px;
}
ul {
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;
        }
ul li{
    display: inline-block;
    padding: 10px;
    color: #808080;        
}
a {
    text-align: left;
    text-decoration: none;
    color: #787878;
    text-shadow: 1.6px 1.6px 1.6px #707070;
    transition-duration: 0.5s;
    font-family: arial;
    font-size: 20px;
        }
a:hover{
    color:black;
    transition-duration: 0.5s; 
        }
.image{
    text-align: left;
    margin-left: 60px;
    margin-right: 60px;
}
.name h1{
    text-align: center;
    margin-top: 50px; 
    font-size: 40px;
    letter-spacing: 4px;
    color: #323232;
    font-family:arial;
    font-style: bold;
    margin-bottom: -1px;
    text-shadow:1px 1px 1px #888888;
        
}
.name h4{
    text-align: center;
    margin-top: 0px; 
    font-size: 12px;
    letter-spacing: 4px;
    color: #808080;
    font-family:italic;
    text-shadow: 1px 1px 1px #888888;                
}
.footer {
    padding: 20px;
    background-color: #4c4c4c;
    font-size: 20px;
    width: 100%;
    margin-top: 80px;
    max-width: 1300px;
    height: 80px;
}        
.footer a{
    color: #D0D0D0;
    text-shadow: 1.5px 1.5px 1.5px #D0D0D0;
}
.footer a:hover{
    color: black;
    transition-duration: 0.5s;
}
#botton{
    text-decoration: none;
    color: #D0D0D0;
    padding: 10px 15px;
    border: solid;
    background-color: #BBBBBB;
    margin-left: 44%;
    margin-top: 100px;
    margin-bottom: 100px;
    transition-duration: 0.5s;
            
        }
#botton:hover{
    color: #000000;
    transition-duration: 0.5s;
}
.boot{
    background-color: #323232;
    position: fixed;
    top:0;
    margin-left: 86%;
    border-radius: 10px;
    height: 50px;
}
.boot p{
    color: white;
}
 .image{
    text-align: center;          
}
.body { margin: 0 ;padding: 0}
.word h3 {
    color: #484848 ;
    font-family: arial;
    margin-left: 35%;
    margin-top: 90px;
    font-size: 30px;
    text-shadow: 2px 2px 2px #A0A0A0;
}
.word h4 {
    color:  ;
    font-family: arial;
    margin-left: 20%;
    margin-top: 80px;
    font-size: 20px;
    text-shadow: 2px 2px 2px #A0A0A0;
}
.word p {
    text-align: center;
    color: #989898 ;
    font-family: arial;
    margin-left: -10px;
    margin-top: 0px;
    font-size: 20px;
    text-shadow: 2px 2px 2px #A0A0A0;
    margin-bottom: 50px;
}
.photo{
    text-align: center;
}

.img2 { 
    text-align: center;
    margin-top: 50px;
    transition-duration: 0.5;
}
.img1:hover{
    transition-duration: 0.5s;
    opacity: 0.5; 

}
.p{
    text-decoration-style: solid;
    font-family: arial;
}
.words{
    margin-left: 50%;
    padding: 10px;
    width: 505px;
    height: 350px;
    font-family: arial;
    margin-top: -50px;
}
.pub{
    font-size: 30px;
    font-family: arial;
    margin-bottom: -10px;
    margin-left: 20%;
    margin-top: 50px;
}
.con{
    font-family: arial;
    font-size: 30px;
    margin-left: 15%;
 }
.words2{
    padding: 10px;
    font-family: arial;
    font-size: 15px;
    margin-left: 15%;
}
.form{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border-color: #009966;
    margin-top: 6px;
    margin-left: 55%;
    font-family: arial;

 }
.form1{
    width: 300px;
    height: 80px;
    border-radius: 5px;
    border-color: #009966;
    margin-top: 6px;
    margin-left: 55%;
    font-family: arial;    
}
.pho{
    margin-left: 0;
    margin-top: -300px;
 }
#botton1{
    text-decoration: none;
    color: #D0D0D0;
    padding: 10px 15px;
    border: solid;
    border-color: #D0D0D0;
    background-color: #989898 ;
    font-family: arial;
    margin-left: 84% ;
    margin-bottom: 20% ;
    transition-duration: 0.5s;

}
#botton1:hover{
    color: #000000;
    transition-duration: 0.5s;

}

         
.wo{
     font-family: arial;
     font-size: 15px;
     width: 250px;
     height: 100px;
     margin-left: 68%;
     margin-top: -480px;
     margin-bottom: 480px;
 }
.img{
     margin-top: -480px;
     margin-left: 67%;
     margin-bottom: 480px;

 }
.img { 
    text-align: left;
    padding-left: 10px;
}